
<nav>
    <button onclick="carregarsolicitacoes()">Solicitações</button>
    <button onclick="carregarCadastroUsuarios()">Cadastro De usuário</button>
    <button onclick="carregarCadastroMoradia()">Cadastro de Moradia</button>
    <button onclick="carregarCadastroAreasComuns()">Cadastro de Area Comum</button>
    <button onclick="carregarCadastroReuniao()">Reunião</button>

</nav>
<div id="exibicao"></div>
<script type="text/javascript">

    function carregarsolicitacoes() {

        $("#exibicao").empty();
        $.get('@Url.Action("ListarSolicitacao", "SolicitacaoAreaComums")', {}, function (data) {

            $("#exibicao").append(data);
        });
        $.get('@Url.Action("ListarAprovacoes", "Usuarios")', {}, function (data) {

            $("#exibicao").append(data);
        });
    }

    function carregarCadastroUsuarios() {

        $.get('@Url.Action("Listagem", "Usuarios")', {}, function (data) {

            $("#exibicao").empty();
            $("#exibicao").html(data);

        });
    }

    function carregarCadastroMoradia() {

        $.get('@Url.Action("Listagem", "Moradias")', {}, function (data) {

            $("#exibicao").empty();
            $("#exibicao").html(data);

        });
    }

    function carregarCadastroAreasComuns() {

        $.get('@Url.Action("Listagem", "AreaComums")', {}, function (data) {

            $("#exibicao").empty();
            $("#exibicao").html(data);

        });
    }
        function carregarCadastroReuniao() {

            $.get('@Url.Action("Listagem", "Reuniaos")', {}, function (data) {

                $("#exibicao").empty();
                $("#exibicao").html(data);

            });
        }

</script>
