@model CondominioInteligente.Models.Reuniao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reuniao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeReuniao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeReuniao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pauta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pauta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioMaster.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodReuniao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
