@model IEnumerable<CondominioInteligente.Models.Reuniao>

<h1>Reuniões</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeReuniao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pauta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioMaster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeReuniao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pauta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioMaster.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodReuniao">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.CodReuniao">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CodReuniao">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
