@model IEnumerable<CondominioInteligente.Models.AreaComum>

<h1>Áreas comuns</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodArea">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.CodArea">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CodArea">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
