@model IEnumerable<CondominioInteligente.Models.Moradia>

<h1>Moradias</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentificadorMoradia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificadorMoradia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodMoradia">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.CodMoradia">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CodMoradia">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
